################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Calculator1
/Calculator1/x64/Debug
/x64/Debug
